<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table class="table table-bordered text-center">

<thead class="table-primary">
<tr>
<th>Patient Name</th>
<th>Test Name</th>
<th>Result</th>
<th>Date</th>
</tr>
</thead>

<tbody>

<tr th:each="r : ${reportList}">
<td th:text="${r.patientName}"></td>
<td th:text="${r.testName}"></td>
<td th:text="${r.reportResult}"></td>
<td th:text="${r.reportDate}"></td>
</tr>

</tbody>

</table>
</body>
</html>