<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Patient History</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
rel="stylesheet">
</head>
<body>

<div class="container mt-5">

<h2>Patient History Records</h2>

<table class="table table-bordered">

<thead class="table-primary">
<tr>
<th>ID</th>
<th>Patient</th>
<th>Disease</th>
<th>Doctor</th>
<th>Prescription</th>
</tr>
</thead>

<tbody>

<tr th:each="p : ${patients}">

<td th:text="${p.id}"></td>
<td th:text="${p.patientName}"></td>
<td th:text="${p.disease}"></td>
<td th:text="${p.doctorName}"></td>
<td th:text="${p.prescription}"></td>

</tr>

</tbody>

</table>

</div>

</body>
</html>